#!/usr/bin/liquidsoap

# Legacy URL
output.icecast(
    id="output_icecast_mp3_legacy",
    %ffmpeg(
        format="mp3",
        %audio(
            codec="libmp3lame",
            b="320k"
        )
    ),
    radio_mp3,
    host=icecast_host,
    port=icecast_port,
    password=icecast_password,
    mount="/MyLegacyMount",
    name="#{radio_name} (MP3)",
    genre=radio_genre,
    description=radio_desc,
    url="#{radio_url}/MyLegacyMount",
    send_icy_metadata=true,
    encoding="UTF-8",
    format="audio/mpeg",
    start=true
    max_listeners=100
)
